.card-container {
  display: flex;
  gap: 1.5rem;
  width: 90%;

  margin: auto;
  justify-content: center;
  margin-top: 80px;
  align-items: stretch;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

  gap: 1rem;
  width: 22%;
  height: auto;
  position: relative;
  box-shadow:
    0 0.1875rem 0.4375rem 0 rgba(0, 0, 0, 0.13),
    0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.11);
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
}
.content-container {
  padding: 1rem;
  flex-grow: 1;
  height: inherit;
  display: flex;
  gap: 5px;
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-between;

  h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
  }

  span {
    font-size: 1rem;
    font-weight: 600;
    color: black;
    padding: 4.5px 12px;
    height: auto;

    &[data-color='yellow'] {
      background-color: #ffb900;
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 16px 24px;

  button {
    font-size: 1rem;
    font-weight: 400;
  }
}

.link-container {
  margin-top: -20px;
  a {
    text-decoration: none;
    display: flex;
    padding: 16px;
    padding-top: 0;
    align-items: center;
    color: #0067b8;
    font-weight: 600;

    &::after {
      font-family: 'Material Icons';
      content: 'keyboard_arrow_right';
      display: inline-block;
      font-size: 25px;
    }
  }
}