.slider-container {
  height: 720px;
  overflow-y: hidden;
}

.defaultSlide,
.slide {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: auto;

  picture {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.slide {
  right: -100%;

  &[data-slide='true'] {
    animation: slideIn 0.8s ease-in forwards;
  }

  &[data-slide='false'] {
    animation: slideOut 0.8s ease-in forwards;
  }

  &[data-slide-back='true'] {
    animation: slideBackOut 0.8s ease-in forwards;
  }

  &[data-slide-back='false'] {
    animation: slideBackIn 0.8s ease-in forwards;
  }
}

.defaultSlide {
  right: 0;

  &[data-slide='true'] {
    animation: slideOut 0.8s ease-in forwards;
  }

  &[data-slide='false'] {
    animation: slideIn 0.8s ease-in forwards;
  }

  &[data-slide-back='true'] {
    animation: slideBackIn 0.8s ease-in forwards;
  }

  &[data-slide-back='false'] {
    animation: slideBackOut 0.8s ease-in forwards;
  }
}

@keyframes slideIn {
  0% {
    right: -100%;
  }

  100% {
    right: 0;
  }
}
@keyframes slideOut {
  0% {
    right: 0;
  }

  100% {
    right: 100%;
  }
}

@keyframes slideBackIn {
  0% {
    right: 100%;
  }

  100% {
    right: 0;
  }
}

@keyframes slideBackOut {
  0% {
    right: 0;
  }

  100% {
    right: -100%;
  }
}

.text-container-a,
.text-container-b {
  position: relative;
  height: 100%;

  h1 {
    font-size: 37px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 20px;
  }
  p {
    font-size: 1rem;
    width: 470px;
    margin: 0;
    margin-bottom: 5px;
  }

  button {
    a {
      color: white;
      text-decoration: none;
      font-size: 1rem;
      font-weight: 600;
    }
  }
}

.text-container-a {
  left: 58%;
  top: -297px;
}

.text-container-b {
  top: -310px;
  padding-left: 6%;

  h1 {
    color: white;
  }
  p {
    color: white;
  }

  button {
    background-color: #2b65b2;
    border: none;
    padding: 10px 12px;
    margin: 8px 0px;
    border-radius: 0.125rem;

    a {
      color: white;
      text-decoration: none;
      font-size: 1rem;
      font-weight: 600;
    }
  }
}

.controls {
  position: absolute;
  top: 690px;
  height: auto;
}

@media (max-width: 1700px) {
  .slider-container {
    height: 630px;
  }
  .controls {
    top: 600px;
  }
}

@media (max-width: 1500px) {
  .slider-container {
    height: 580px;
  }
  .controls {
    top: 550px;
  }
}
@media (max-width: 1400px) {
  .slider-container {
    height: 520px;
  }
  .controls {
    top: 500px;
  }
}

@media (max-width: 1250px) {
  .slider-container {
    height: 480px;
  }
  .controls {
    top: 450px;
  }
}

.material-icons {
  font-size: 2rem;
  color: black;
  cursor: pointer;
  border: none;
  background: none;
}

/* Mobile */

@media (max-width: 1080px) {
  .slider-container {
    height: 900px;
  }
  .defaultSlide,
  .slide {
    align-items: baseline;
    position: relative;
    height: 100%;

    .text-container-a,
    .text-container-b {
      margin: 20px 1%;
      height: 12%;
      background: white;
      left: 0;
      top: -60px;
      min-width: 90%;
      padding: 4%;
      border-radius: 0.125rem;
      box-shadow:
        0 0.1875rem 0.4375rem 0 rgba(0, 0, 0, 0.13),
        0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.11);

      h1 {
        font-size: 24px;
        margin-bottom: 10px;
      }
      p {
        width: 100%;
      }
    }
  }

  .controls {
    top: 830px;
  }

  .slide {
    top: -100%;
    .text-container-b {
      top: -80px;
    }
    p,
    h1 {
      color: black;
    }
  }
}

@media (max-width: 860px) {
  .slider-container {
    height: 730px;
  }
  .defaultSlide,
  .slide {
    height: 122%;
    .text-container-a,
    .text-container-b {
      margin: 20px 0;
      height: 15%;
    }
    .text-container-b {
      top: -87px;
    }
  }
  .slide {
    top: -122%;
  }

  .controls {
    top: 720px;
  }
}

@media (max-width: 680px) {
  .slider-container {
    height: 630px;
  }
  .defaultSlide,
  .slide {
    .text-container-a,
    .text-container-b {
      height: 18%;
    }
  }

  .controls {
    top: 590px;
  }
}

@media (max-width: 520px) {
  .slider-container {
    height: 530px;
  }

  .defaultSlide,
  .slide {
    .text-container-a,
    .text-container-b {
      height: 21%;
    }
  }

  .controls {
    top: 510px;
  }
}

@media (max-width: 420px) {
  .slider-container {
    height: 530px;
  }
  .defaultSlide,
  .slide {
    height: 150%;
    .text-container-a,
    .text-container-b {
      height: 22%;
    }
  }
  .slide {
    top: -150%;
  }
}
