.slide {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  right: -100%;

  &[data-slide='true'] {
    animation: slideIn 0.8s ease-in forwards;
  }

  &[data-slide='false'] {
    animation: slideOut 0.8s ease-in forwards;
  }

  &[data-slide-back='true'] {
    animation: slideBackOut 0.8s ease-in forwards;
  }

  &[data-slide-back='false'] {
    animation: slideBackIn 0.8s ease-in forwards;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.defaultSlide {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  right: 0;

  &[data-slide='true'] {
    animation: slideOut 0.8s ease-in forwards;
  }

  &[data-slide='false'] {
    animation: slideIn 0.8s ease-in forwards;
  }

  &[data-slide-back='true'] {
    animation: slideBackIn 0.8s ease-in forwards;
  }

  &[data-slide-back='false'] {
    animation: slideBackOut 0.8s ease-in forwards;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@keyframes slideIn {
  0% {
    right: -100%;
  }

  100% {
    right: 0;
  }
}
@keyframes slideOut {
  0% {
    right: 0;
  }

  100% {
    right: 100%;
  }
}

@keyframes slideBackIn {
  0% {
    right: 100%;
  }

  100% {
    right: 0;
  }
}

@keyframes slideBackOut {
  0% {
    right: 0;
  }

  100% {
    right: -100%;
  }
}

.controls {
  position: relative;
  bottom: 40px;
  display: flex;
  justify-content: center;
}

.material-icons {
  font-size: 2rem;
  color: black;
  cursor: pointer;
  border: none;
  background: none;
}