.social-container {
  display: flex;
  align-items: center;
  margin: 3rem 6rem;
  div {
    margin-right: 1rem;
  }

  img {
    width: 32px;
    margin-right: 0.75rem;
  }
}

.footer {
  background-color: #f2f2f2;

  .footer-container {
    display: flex;
    padding: 0;
    margin: 2.5%;

    .footer-section-container {
      width: 16.6666666667%;
      margin: 0;
      margin-top: 36px;
      padding: 0;
      padding-left: 2rem;
      list-style: none;

      span {
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
        color: #616161;
        margin: 0;
        padding: 36px 0 4px 0;
      }

      ul {
        margin: 0;
        padding: 8px 0;

        li {
          padding: 8px 0;
          list-style: none;

          a {
            display: block;
            color: #616161;
            font-size: 11px;
            line-height: 16px;
            text-decoration: none;
            word-break: break-word;
            white-space: normal;
            width: 100%;
          }
        }
      }
    }
  }

  .additional-footer-container {
    padding: 30px 5% 16px;

    a {
      text-decoration: none;
      color: #616161;
      font-size: 11px;
      line-height: 16px;
    }

    span {
      display: flex;
      align-items: baseline;
      gap: 1rem;
    }

    #locale::before {
      font-family: 'Material Icons';
      content: 'public';
      font-size: 1.5rem;
      position: relative;
      top: 8px;
      margin-right: 10px;
    }

    #privacy::before {
      font-family: 'Material Icons';
      content: 'toggle_on';
      color: #2b65b2;
      font-size: 2rem;
      position: relative;
      top: 12px;
      margin-right: 10px;
    }
  }

  .additional-footer-links {
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    li {
      list-style: none;

      a {
        word-break: keep-all;
        white-space: nowrap;
      }
    }
  }
}

@media (max-width: 1080px) {
  .footer-container {
    flex-wrap: wrap;
    .footer-section-container {
      flex-basis: 27%;
    }
  }
}

@media (max-width: 530px) {
  .footer-container {
    flex-flow: column;
    .footer-section-container {
      width: 100% !important;
    }
  }
}